body {
    width: 450px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 0 2rem;
}

#convertBtnTop, #convertBtnBottom, #title {
    display: none;
}

#convertBtnTop.show,  #convertBtnBottom.show, #title.show {
    display: block;
}

#convertBtnTop {
    margin-top: 1rem;
}

#convertBtnBottom {
    margin-bottom: 1rem;
}

#toConvert {
    margin: 1rem 2rem;
}

.link {
    margin: 1rem 2rem;
    padding: 1rem;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 #c3c3c3;
}

.link__title {
    font-size: 1rem;
    font-weight: 800;
}

.link__url {
    font-size: 0.5rem;
}

.disabled::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250,0.75);
    z-index: 999;
}
